
  body {
    width: 100%;
    height: 100%;
    background-color: #e46b6b;
    position: relative;
  }
 
   
  h1{
    font-size: 70px;
    text-shadow: 3px 4px 5px white;
    text-align: center;
   
  }

  h3{
    font-size: 30px;
    font-family: cursive;
  }
  ul{
    font-size: 30px;
    font-weight: bold;
  }
  .h2{
    font-size: 35px;
    background-color:white;
    font-weight: bold;
  }0px